*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

:root{
    --azul-escuro: #0D5188;
    --azul-médio: #66C5E3;
    --azul-claro: #C7E7F3;
    --white: white;
}

body{
    width: 100%;
    height: 100%;
}

.table-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

table{
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

        & .title{
            background-color: var(--azul-escuro);
            color: var(--white);
        }
        & tr{
            background-color: var(--azul-claro);
        }
        & .colunas{
            background-color: var(--azul-médio);
            font-weight: bold;
            text-align: center;
        }
        & .id{
            background-color: silver;
            width: 10%;
            text-align: center;
        }
        & .cidade{
            color: var(--azul-escuro);
            font-weight: bold;
            text-align: left;
        }
        & .col-cidade{
            text-align: left;
        }
        & .populacao{
            width: 15%;
            text-align: center;
        }
}

